/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #231F20;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@media (min-width: 992px) {
    .container {
        width: 840px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 840px;
    }
}

a { color:#231F20; }
a:hover { text-decoration:none; color:#000; }

header { margin:20px 0 8px; }
header .logo { display:block; width:100%; height:25px; background-image:url('../img/logo.png'); background-repeat:no-repeat; -webkit-background-size:contain; background-size:contain; }
header .logo a { display:block; width:100%; height:100%; }
header .share { text-align:right; margin-top:20px; }
header .share span { height:25px; line-height:25px; }
header nav { border-top: 1px dashed #A7A9AB; }
header nav ul { list-style:none; padding:8px 0; margin:0; }
header ul li { height:30px; }
header nav ul li:last-child, header nav ul li:last-child a { border:none; }
header nav ul li a { display:block; width:100%; height:100%; text-align:center; line-height:30px; color:#231F20; border-bottom: 1px dashed #A7A9AB; text-transform:uppercase; font-size:14px; transition: all 0.5s; }
header nav ul li a:hover { color:#ffffff; background:#A7A9AB; text-decoration:none; }
header nav ul li.ativo { font-weight: bold; }

footer { margin-top:20px; padding-bottom:8px; border-bottom: 1px dashed #A7A9AB; font-size:11px; color:#A7A9AB; }
footer p { margin:0; }
footer a { color:#A7A9AB; }
footer .item { margin:5px 0; display:inline-block; width:100%; text-align:center; }
footer .item span { margin:0 2px; }

.conteudo {
    padding:10px;
    border: 1px dashed #A7A9AB;
}

.home img,
.conteudo p img { width:100%; }
.conteudo h3 { margin-top: 10px; }

.home { position: relative; min-height: 636px; }
.home img { position: absolute; top: 0; left: 0; padding: 10px; display: none; }

.contato form span.error { color:#a94442; font-weight:normal; margin-left:20px; }
.contato .btn-enviar img { margin-left:10px; }

.tela-texto { padding:50px 0; }

aside img { margin-bottom: 20px; }

@media (min-width: 768px) {
    header .logo { display:block; width:324px; }
    header ul li { border-right: 1px dashed #A7A9AB; height:50px; }
    header nav ul li { height:50px; }
    header nav ul li a { border-bottom:none; line-height:50px;font-size:18px; }

    footer .item { margin:0 10px; display:inline-block; width:auto; text-align:center; }

    .tela-texto { padding:100px 0; }

    .contato article { border-right: 1px dashed #A7A9AB; }
}


.spinner {
  margin: 10px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
